:root {
	--primary-color: #007bff;
	--secondary-color: #dc3545;
	--background-color: #f9f9f9;
}

body {
	background-color: var(--background-color);
}

a {
	color: var(--primary-color);
}

a:hover {
	color: var(--secondary-color);
}

.footer {
	background-color: var(--primary-color);
}

body {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
}

h1 {
	font-family: 'Helvetica', sans-serif;
	font-size: 2rem;
	font-weight: bold;
	color: #f4e6e6;
}
a {
	text-decoration: none;
	font-size: x-large;
	font-weight: bold;
	color: #333; /* Set a default color for links */
	transition: color 0.3s ease; /* Add a smooth color transition on hover */
}

a:hover {
	color: #007bff; /* Change the link color on hover */
}

a:active {
	color: #dc3545; /* Change the link color when active (clicked) */
}

.footer {
	display: flex;
	justify-content: center;
	background-color: #d5c8c8;
	border-radius: 5px;
	/* Remove the position: absolute; */
	/* Remove the width: 99%; */
	/* Add the following styles */
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
/* Example media query for smaller screens */
@media (max-width: 768px) {
	body {
		font-size: 16px;
	}

	h1 {
		font-size: 1.5rem;
	}
}
